@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #f4f4f4;
}

/* Menu lateral do sistema*/

.sider-bar-menu {
    width: 500px;
    /* height: 100vh; */
    padding: 0 50px;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    color: #f4f4f4;
}

.sider-bar-menu h1 {
    font-size: 42px;
    color: #FFA340;
    font-weight: bold;
    margin-top: 50px;
}

.sider-bar-menu p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
}

.sider-bar-menu_search {
    padding: 10px 0;
}

.sider-bar-menu_search input[type=search] {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #B7ACAC;
}

.sider-bar-menu_filter,
.sider-bar-menu_categori_list,
.sider-bar-menu_items-favorites {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    border-bottom: 1px solid #191919;

}

label {
    display: flex;
    justify-content: start;
    padding: 0 10px;
    gap: 10px;
    align-content: center;
    font-size: 16px;
}

input[type=radio],
input[type=checkbox] {
    width: 25px;
    height: 25px;
}


/* Conteudo principal do sistema*/
.container_items-list {
    /* background-color: aqua; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    align-content: flex-start;
    justify-content: flex-start;
}

.container_items-list_card a {
    background-color: #000;
    padding: 10px;
    color: #FFF;
    width: 150px;
    height: 230px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 3px solid #191919;
}

.container_items-list_card a:hover {
    border: 3px solid #FFA340;
}

.container_items-list_item-headline h2 {
    font-size: 16px;
    color: #FFA340;
}

.container_items-list_item-headline_info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.container_items-list_item-headline_info span {
    font-size: 12px;
    font-weight: bold;
    color: #B7ACAC;
}

.container_items-list_item_imagem img {
    width: 60px;
}