@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #f4f4f4;
}

/* Menu lateral do sistema*/

.sider-bar-menu {
    min-width: 364px;
    max-width: 379px;
    /* height: 100vh; */
    padding: 0 50px;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    color: #f4f4f4;
}

.sider-bar-menu h1 {
    margin-top: 50px;

}

.sider-bar-menu h1 a {
    font-size: 42px;
    color: #FFA340;
    font-weight: bold;
    text-decoration: none;
}

.sider-bar-menu p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
}

.container-elements {
    width: 100%;
    max-width: 1024px;
    padding: 30px 20px;
    margin: 0 auto;
    /* background-color: #FFA340; */
}

.menu_search {
    padding: 10px 0;
    display: flex;
    min-width: 305px;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: space-between;

}

.menu_search input[type=search] {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #B7ACAC;
}

.menu_search button {
    padding: 5px 30px;
    /* width: 200px; */
    height: 45px;
    color: #ffffff;
    background-color: #FFA340;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.sider-bar-menu_filter,
.sider-bar-menu_categori_list,
.sider-bar-menu_items-favorites {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    border-bottom: 1px solid #191919;

}

label {
    display: flex;
    justify-content: start;
    padding: 0 10px;
    gap: 10px;
    align-content: center;
    font-size: 16px;
}

input[type=radio],
input[type=checkbox] {
    width: 25px;
    height: 25px;
}


/* Conteudo principal do sistema */
.container_items-list {
    /* background-color: aqua; */
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    align-content: flex-start;
    justify-content: space-between;
}

.container_items-list_card a {
    background-color: #000;
    padding: 10px;
    color: #FFF;
    width: 150px;
    height: 230px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 3px solid #191919;
}

.container_items-list_card a:hover {
    border: 3px solid #FFA340;
}

.container_items-list_item-headline h2 {
    font-size: 16px;
    color: #FFA340;
}

.container_items-list_item-headline_info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.container_items-list_item-headline_info span {
    font-size: 12px;
    font-weight: bold;
    color: #B7ACAC;
}

.container_items-list_item_imagem img {
    width: 60px;
}

/* Informação completa do item */

.container-item-info {
    /* background-color: aqua; */
    display: block;
    padding: 20px;
    /* background-color: #B7ACAC; */
}

.container-item-info_card {
    max-width: 650px;
    min-width: 440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E8E8E8;
    border-radius: 10px;

}

.container-item-info_card_head-foto {
    min-width: 300px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 15px;
    background-color: #000;
    border-radius: 10px 0 0 10px;
    padding: 20px;
}

.container-item-info_card_head-foto h2 {
    color: #FFF;
    font-size: 32px;
    color: #FFA340;
}

.container-item-info_card_head-foto img {
    width: 70px;
}

.container-item-info_filter {
    /* background-color: #FFA340; */
    padding: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;

}

.container-item-info_filter_align-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    /* min-width: 434px; */
    flex-wrap: wrap;
}

.container-item-info_filter_align-options select {
    /* min-width: 150px; */
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #B7ACAC;
    background-color: #F0EEEE;
    flex: 1;
    text-align: center;
    font-size: 15px;
}

.container-item-info_filter_requirements {
    /* background-color: antiquewhite; */

    display: flex;
    flex-direction: column;
}

.container-item-info_filter_requirements h2 {
    display: block;
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #555;
}

.container-item-info_filter_requirements table {
    font-weight: bold;
    text-align: center;
    /* background-color: aquamarine; */
    margin: 10px 0;
    padding: 0;
    border-collapse: collapse;
    min-width: 260px;

}

.container-item-info_filter_requirements table tr,
td {
    border: 1px solid #B7ACAC;
    min-width: 30px;

}

.container-item-info_filter_requirements table tr td {
    padding: 2px;
    font-size: 15px;
}

.container-item-info_filter_requirements table tr td input {

    width: 100%;
    height: 30px;
    padding: 10px;
    border: 1px solid #B7ACAC;
    border-radius: 10px;
    font-size: 15px;
}

.container-item-info_filter_requirements table tr td:first-child {
    text-align: left;
    padding-left: 10px;
    max-width: 250px;
    min-width: 133px;
}

.container-item-info_filter_requirements table tr td:nth-child(3) {
    width: 220px;
    max-width: 250px;
    min-width: 209px;

}

.container-item-info_filter_requirements table tr td:nth-child(2) {
    width: 150px;
    max-width: 100px;
    min-width: 75px;
    text-align: left;
    padding-left: 5px;
}