@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(66, 78, 95);
  --primary-color-darker: rgb(33, 52, 92);
}

* {
  box-sizing: border-box;
  outline: 0;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  line-height: 1.5em;
}

.container {
  max-width: 350px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

button, input{
  padding: 10px;
  margin: 5px 5px 10px 0;
  border-radius:5px;
  border:1px solid #888;
}